:root {
  --primery-bg-color: #e5e5e5;
  --black-color: #000000;
  --logo-decor-color: #939393;
  --main-color: #8f95a5;
  --min-title-color: #263238;
  --white-color: #fff;
  --silver-color: #f5f5f5;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  display: block;
}

button {
  cursor: pointer;
  font: inherit;
  padding: 0;
  background-color: transparent;
  border: none;
}

a {
  color: inherit;
  text-decoration: none;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  line-height: calc(30 / 20);
}

.container {
  max-width: 1378px;
  padding: 0 20px;
  margin: 0 auto;
}

.title {
  font-weight: 600;
  font-size: 48px;
  color: var(--black-color);
  margin-bottom: 60px;
}

.logo {
  font-weight: 400;
  font-size: 36px;
  color: var(--black-color);
  margin-right: auto;
}

/* HEADER */

.header {
  padding-top: 55px;
}

.header-wrapper {
  display: flex;
  align-items: center;
}

.header-nav {
  margin-right: 121px;
}

.logo-decor {
  color: var(--logo-decor-color);
}

.header-menu {
  display: flex;
}

.menu-item:not(:last-child) {
  margin-right: 50px;
}

.menu-link {
  font-weight: 500;
  color: var(--min-title-color);
}

.header-button {
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--black-color);
  border: 2px solid var(--min-title-color);
  border-radius: 10px;
  padding: 19px 54px;
  min-width: 312px;
}

/* HERO */

.hero {
  padding-top: 101px;
}

.hero-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.hero-content {
  max-width: 540px;
}
.hero-title {
  font-weight: 600;
  font-size: 64px;
  line-height: calc(80 / 64);
  color: var(--black-color);
  max-width: 386px;
  margin-bottom: 40px;
}

.hero-text {
  font-size: 24px;
  margin-bottom: 60px;
  color: #8f95a5;
  text-shadow: rgb(0, 0, 0) 2px 0px 0px, rgb(0, 0, 0) 1.75517px 0.958851px 0px,
    rgb(0, 0, 0) 1.0806px 1.68294px 0px, rgb(0, 0, 0) 0.141474px 1.99499px 0px,
    rgb(0, 0, 0) -0.832294px 1.81859px 0px,
    rgb(0, 0, 0) -1.60229px 1.19694px 0px, rgb(0, 0, 0) -1.97998px 0.28224px 0px,
    rgb(0, 0, 0) -1.87291px -0.701566px 0px,
    rgb(0, 0, 0) -1.30729px -1.5136px 0px,
    rgb(0, 0, 0) -0.421592px -1.95506px 0px,
    rgb(0, 0, 0) 0.567324px -1.91785px 0px,
    rgb(0, 0, 0) 1.41734px -1.41108px 0px,
    rgb(0, 0, 0) 1.92034px -0.558831px 0px;
}

.hero-button {
  font-size: 36px;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--white-color);
  background-color: var(--min-title-color);
  border: 1px solid var(--black-color);
  border-radius: 10px;
  padding: 22px 105px;
}

/* Skills */

.skills {
  padding-top: 134px;
}

.skills-list {
  display: grid;
  gap: 30px;
  grid-template-columns: repeat(3, 1fr);
}

.skills-list__item:first-child {
  grid-row-start: 1;
  grid-row-end: 3;
}

.skills-list__item:last-child {
  grid-column-start: 2;
  grid-column-end: 4;
  display: flex;
  flex-direction: row-reverse;
  align-items: flex-start;
  justify-content: space-between;
}

.skils-list__wrapper {
  max-width: 324px;
}

.skills-list__title {
  font-weight: 600;
  font-size: 30px;
  color: var(--min-title-color);
}

.skills-list__item {
  background-color: var(--silver-color);
  padding: 32px 18px;
}

.skills-list__item:not(:last-child) > .skills-list__img {
  margin-bottom: 24px;
}

.skills-list__title {
  margin-bottom: 20px;
}

.skills-list__text {
  font-size: 16px;
  margin-bottom: 30px;
}

.skills-list__btn {
  font-weight: 500;
  font-size: 18px;
  color: var(--white-color);
  background-color: var(--min-title-color);
  padding: 15px 52px;
  border-radius: 10px;
}

/* ABOUT */

.about {
  padding-top: 178px;
}

.about-wrapper {
  display: flex;
  align-items: flex-start;
}

.about-content {
  max-width: 652px;
  margin-right: auto;
}

.about-list {
  display: flex;
  justify-content: space-around;
  text-align: center;
}

.about-list__item {
  max-width: 113px;
}

.about-text {
  line-height: calc(36 / 20);
  margin-bottom: 30px;
}

.about-number {
  font-weight: 600;
  font-size: 48px;
  color: #2a3246;
  margin-bottom: 8px;
}

/* PRICING */

.pricing {
  padding-top: 182px;
}

.pricing-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.pricing-item {
  width: calc((100% - 2 * 30px) / 3);
  display: flex;
  flex-direction: column;
}

.pricing-img {
  margin-bottom: 31px;
}

.pricing-subtitle {
  font-weight: 600;
  font-size: 30px;
  line-height: calc(48 / 30);
  text-transform: capitalize;
  color: var(--min-title-color);
  margin-bottom: 20px;
}

.pricing-text {
  margin-bottom: 30px;
}

.pricing-bottom {
  background-color: #eeeeee;
  padding: 5px 23px;
  max-width: 260px;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin-top: auto;
}

.pricing-cost {
  font-size: 24px;
  color: var(--min-title-color);
}

.pricing-period {
  font-size: 18px;
  color: #546269;
}

/* COTACT */

.contact {
  padding-top: 180px;
}

.contact-wrapper {
  display: flex;
  gap: 0 144px;
  align-items: flex-start;
}

.contact-content {
  max-width: 767px;
}

.contact-descr {
  max-width: 654px;
  margin-bottom: 30px;
}

/* FOOTER */

.footer {
  padding-top: 55px;
  padding-bottom: 55px;
}

.footer-wrapper {
  border-top: 1px solid #c4c4c4;
  display: flex;
  align-items: center;
}

.footer-item:not(:last-child) {
  margin-right: 80px;
}

.footer-list {
  display: flex;
}

.footer-link {
  font-size: 24px;
  letter-spacing: 0.02em;
  padding: 31px 0;
  display: block;
}

.flex-wrap {
  display: flex;
  flex-wrap: wrap;
  margin: -15px;
}

.flex-elem {
  background-color: #c80a0a;
  width: calc((100% - 6 * 15px) / 3);
  height: 200px;
  margin: 15px;
}

.flex-elem:nth-child(even) {
  background-color: #0ac82d;
}
